/* src/CoursePage.css */
/* TabComponent.css */

.tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7; /* Light gray background */
  padding: 10px 20px;
  border-bottom: 2px solid; /* Bottom border */
}
.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between; /* Space out the header items */
}

.tab {
  display: flex;
  flex: 1;
}

.tab-item {
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  color: gray; /* Default tab color */
}

.tab-item.active {
  color: black; /* Active tab color */
  border-bottom: ; /* Active tab underline */
}

.new-course-button {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.tab-submenu {
  display: flex;
  align-items: center;
  background-color: #f7f7f7; /* Light gray background */
  padding: 10px 20px;
  border-bottom: 2px solid; /* Bottom border */
}

.tab-submenu .tab-item {
  margin-right: 20px; /* Right margin for submenu items */
}
.course-page {
  padding: 20px;
  background-color: #f9f9f9;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  margin-right: 10px;
}

.view-toggle {
  display: flex;
}

.view-toggle button {
  margin-left: 10px;
  padding: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.view-toggle .active {
  background-color: #0056b3;
}

.new-course-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.red-line-top,
.red-line-bottom {
  height: 4px;
  background-color: red;
  margin: 10px 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
}

.courses.grid {
  justify-content: flex-start;
}

.courses.list {
  flex-direction: column;
}

.course-card {
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 15px;
  margin: 10px;
  width: 200px; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upgrade-card {
  background: #eef;
  border: 1px dashed #007bff;
  padding: 15px;
  border-radius: 4px;
}
